@import 'StyleSheets/base/_variables.scss';
@import 'StyleSheets/config/_mixin.scss';

.cmpignTble {
	&__tble,
	&__col {
		border: 1px solid $grey2;
		border-collapse: collapse;
	}

	&__tble {
		@include body-5;
	}

	&__thead {
		background-color: $grey1;
		text-align: left;
	}

	&__col {
		padding: 10px;
	}

	&__dateDetalWrap {
		display: flex;
		flex-direction: column;
		min-width: 110px;
	}

	&__daysDiff {
		margin-top: 3px;
	}

	&__cmpignDtalWrap {
		display: flex;
		align-items: center;
		min-width: 250px;
	}

	&__cmpignImgWrap {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
		overflow: hidden;
		flex-shrink: 0;
	}

	&__cmpignImg {
		width: 100%;
		height: 100%;
	}

	&__nameLocatonWrap {
		display: flex;
		flex-direction: column;
	}

	&__name {
		color: $blue1;
	}

	&__location {
		margin-top: 4px;
	}

	&__viewCntntWrap {
		min-width: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__viewCurrency {
		@include heading-2;

		width: 30px;
		height: 30px;
		color: $white;
		background-color: $blue1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__viewCurrencyPlus {
		@include heading-4;
	}

	&__viewTxt {
		text-align: center;
		margin-top: 5px;
		color: $blue1;
	}

	&__actionsWrap {
		display: flex;
		justify-content: center;
		min-width: 250px;
	}

	&__actionsBtnWrap:not(:last-child) {
		margin-right: 20px;
	}
}
