@import 'StyleSheets/base/_variables.scss';
@import 'StyleSheets/config/_mixin.scss';

.hadr {
	background-color: $blue1;
	color: $white;

	&__contntWrap {
		@include contentWrap;

		display: flex;
		justify-content: space-between;
		padding: 0;
	}

	&__mainContnt {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1;
		padding: 20px;
	}

	&__leftSec {
		display: flex;
		align-items: center;
	}

	&__logoImgWrap {
		width: 54px;
		margin-right: 10px;
		flex-shrink: 0;
	}

	&__logoImg {
		width: 100%;
	}

	&__logoTxt {
		@include body-1;

		flex-direction: column;
		text-align: right;
		display: none;
	}

	&__subTxt {
		@include body-4;

		margin-top: 2px;
	}

	&__rightSec {
		display: flex;
		align-items: center;
	}

	&__appState {
		@include body-1;

		display: none;
	}

	&__actionButton {
		padding: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: $blue2;
		border: none;
		outline: none;
		flex-shrink: 0;
	}

	&__actionButtonLne {
		width: 32px;
		height: 4px;
		border-radius: 8px;
		background-color: $white;
		cursor: pointer;
	}

	&__actionButtonLne:not(:first-child) {
		margin-top: 4px;
	}
}

@include tablet {
	.hadr {
		&__logoImgWrap {
			width: 70px;
		}

		&__logoTxt {
			display: flex;
		}

		&__appState {
			display: block;
		}

		&__dropDown {
			margin-left: 20px;
		}
	}
}
